.contenedor {
    background-color: darkgray;
    display: inline-flex;
    flex-direction: column;
    border: 5px solid black;
}

.item1 {
    background-color: red;
    width: 100px;
    height: 100px;
    margin: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item2 {
    background-color: blue;
    width: 100px;
    height: 100px;
    margin: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item3 {
    background-color: green;
    width: 100px;
    height: 100px;
    margin: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}